<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Local Packages" value="LocalPackages/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!--<add key="SharpGenTools" value="https://www.myget.org/F/sharpgentools/api/v3/index.json" />-->
  </packageSources>
  
   <config>
      <add key="globalPackagesFolder" value="RestoredPackages/" />
   </config>
   
  <packageSourceMapping>
    <packageSource key="Local Packages">
      <package pattern="SharpGen*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
